<h1>My Bucket List</h1>

<ul>
  <% @bucket_list.each do |goal| %>
   <li> <%= goal %></li>
  <% end %>
</ul>

<form action="/bucket-list" method="post">
  <label for="bucket_list_item">New Bucket List Item:</label>
  <input
