<h1>My Bucket List</h1>

<ul>
  <% @bucket_list.each do |goal| %>
   <li> <%= goal %></li>
  <% end %>
</ul>

<form action="/bucket-list" method="post">
  <label for="bucket_list_item">Add New Bucket List Goal</label>
  <input type="text" id="bucket_list_item" name="bucket_list_item" required>

  <input type="submit" value="Add">
</form>
